@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
:root {
  --dark: #17223b;
  --semiDark: #263859;
  --light: #6b778d;
  --detail: #ff6768;
}
#userInput {
  height: 0;
  display: block;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'PT Mono', monospace;
}
.main-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  max-width: 600px;
  color: var(--light);
  background-color: var(--semiDark);
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 3px #00000040;
}
.text-container span {
  animation: border 2s ease-in-out infinite;
}

@keyframes border {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #f87e7e;
  }
  100% {
    border-color: transparent;
  }
}
