@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
:root {
  --dark: #17223b;
  --semiDark: #2c3f64;
  --light: #6b778d;
  --detail: #ffbd69;
}
#userInput {
  height: 0;
  display: block;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}
body {
  color: var(--semiDark);
  font-family: 'PT Mono', monospace;
}
.main-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-card h1 {
  color: var(--detail);
}

.text-container {
  max-width: 600px;
  color: var(--light);
  background-color: var(--semiDark);
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 3px #00000040;
  position: relative;
}
.text-container span {
  animation: border 2s ease-in-out infinite;
}
.text-field-blur {
  filter: blur(6px);
  opacity: 0.95;
}
.text-field-focus-hint {
  color: var(--detail);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.metrics-container {
  width: 100%;
  margin: 10px 0;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}
#timer-count {
  color: var(--semiDark);
}
#correct-chars-info {
  display: flex;
  place-items: center;
  font-size: 0.6rem;
}

#restart-button {
  background-color: var(--semiDark);
  border: none;
  color: var(--light);
  padding: 2px 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#restart-button:hover {
  box-shadow: 0 0 1px var(--detail);
}

@keyframes border {
  0% {
    border-color: #ffbd6960;
  }
  50% {
    border-color: var(--detail);
  }
  100% {
    border-color: #ffbd6960;
  }
}
.bottom-info {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 0 5px;
}
.bottom-info p {
  font-size: 0.8rem;
}
.bottom-info p span {
  font-size: 0.6rem;
  background-color: var(--light);
  padding: 2px;
  border-radius: 2px;
  color: var(--dark);
}

footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: var(--semiDark);
  color: var(--light);
  width: 100%;
  font-size: 0.6rem;
}
footer a {
  display: flex;
  place-items: center;
}
footer img {
  padding: 1px;
  margin-left: 16px;
  width: 16px;
}
